<?xml version='1.0'?>
<robot>
  <link name="base_link">
    <visual>
     <geometry>
       <mesh filename="package://ros_ship_description/world/buoy/mesh/RED_BUOY.dae"/>
     </geometry>
   </visual>
   <collision name="base_link_collision">
     <geometry>
       <mesh filename="package://ros_ship_description/world/buoy/mesh/RED_BUOY.dae"/>
     </geometry>
   </collision>
   <inertial>
     <mass value="40"/>
     <inertia ixx="50" ixy="0.00" ixz="0" iyy="50" iyz="0.00" izz="0.1"/>
   </inertial>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0 0 0.1"/>
    <parent link="top_link"/>
    <child link="base_link"/>
  </joint>

  <link name="top_link">
    <inertial>
      <mass value="10"/>
      <inertia ixx="50" ixy="0.00" ixz="0" iyy="50" iyz="0.00" izz="0.1"/>
    </inertial>
  </link>

  <gazebo>
    <plugin name="simple_buoyancy" filename="libsimple_buoyancy_plugin.so">
      <target_link>top_link</target_link>
      <cob_x>0</cob_x>
      <cob_y>0</cob_y>
      <cob_z>0</cob_z>
      <bbox_x>0.6</bbox_x>
      <bbox_y>0.6</bbox_y>
      <bbox_z>0.5</bbox_z>
      <publish_data>false</publish_data>
    </plugin>
  </gazebo>

</robot>
