<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="plot_characteristic_curve_node" pkg="ros_ship_visualization" type="plot_characteristic_curve.py" args="" output="screen" respawn="true">
  </node>

  <node name="kml_plotter_node" pkg="ros_ship_visualization" type="kml_plotter.py" args="" output="screen" respawn="true">
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_ship_description)/config/wam-v.rviz" required="true" />
</launch>
