<launch>
    <param name="robot_description" command="$(find xacro)/xacro --check-order $(find ros_ship_description)/robots/ros_ship.urdf.xacro" />
    <param name="water_surface_height" value="1.0" type="double"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_ship_description)/config/urdf.rviz" required="true" />

<!--
    <include file="$(find uuv_descriptions)/launch/empty_underwater_world.launch"/>
-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="true"/>
    </include>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model ros_ship -param robot_description -x 0 -y 0 -z 1"/>

    <include file="$(find ros_ship_control)/launch/ros_ship_control.launch"/>
</launch>
