<launch>
  <param name="robot_description" command="$(find xacro)/xacro --check-order $(find ros_ship_description)/robots/ros_ship.urdf.xacro" />
  <param name="water_surface_height" value="0.0" type="double"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_ship_description)/config/urdf.rviz" required="true" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model ros_ship -param robot_description -x 0 -y 0 -z 0"/>

  <node name="buoy_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(find ros_ship_description)/world/buoy/urdf/red_buoy.urdf -model red_buoy_01 -urdf -x 10 -y 0 -z 0" ns="red_buoy_01"/>

  <node name="buoy_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(find ros_ship_description)/world/buoy/urdf/green_buoy.urdf -model green_buoy_01 -urdf -x 10 -y 3 -z 0" ns="green_buoy_01"/>

  <include file="$(find ros_ship_control)/launch/ros_ship_control.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find ros_ship_description)/world/open_water.world"/>
  </include>

</launch>
