<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="buoy_recoganizer" pkg="ros_ship_recognition" type="object_recognition_node" args="" output="screen" respawn="true">
    <remap from="/buoy_recoganizer/input_cloud" to="/velodyne_points" />
    <param name="/object_stl_file_path" value="$(find ros_ship_recognition)/data/BUOY.stl" type="str"/>
    <param name="/marker_mesh_path" value="$(find ros_ship_recognition)/data/BUOY.dae" type="str"/>
    <param name="/object_type" value="BUOY" type="str"/>
  </node>
</launch>
