<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <rosparam command="load" file="$(find ros_ship_recognition)/config/ros_ship_recognition.yaml" ns="object_recognition_node"/>

  <node name="object_recognition_node" pkg="ros_ship_recognition" type="object_recognition_node" args="" output="screen" respawn="true">
  </node>
</launch>
